article, footer, header, main, nav, section {
  display: block;
}

div.sidebar {
  float:left;
  width: 200px;
  height: 640px;
  background-color: gray;
}

div.content {
  overflow:hidden;
  padding: 4px;
}

div.home-nav a {
  display: block;
  padding: 18px 45px;
  text-decoration: none;
  font-weight: bold;
  font-family: impact, arial;
  font-size: large;
  color: white;
  }

div.home-nav a:hover{
color: #c00;
background-color: white; }

div.bio {
  text-align: center;
  padding: 8px;
}
div.bio p{
  font-family: arial;
  text-align: left;
}

#sidebar-nav {
  list-style:none;
}

#sidebar-nav li a{
  text-decoration: none;
  font-family: impact, arial;
  color: white;
}

#sidebar-nav li p{
  text-decoration: none;
  font-family: impact, arial;
  color: black;
  padding: 0px;
  margin: 0px;
}

#sidebar-nav li a:hover {
  color: #c00;
}

#top-nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

#top-nav li {
  float: left;
   }

#top-nav li a {
  display: block;
  padding: 8px 45px;
  text-decoration: none;
  font-weight: medium;
  font-family: impact, arial;
  color: red;
}

  #top-nav li.selected {
  display: block;
  padding: 8px 45px;
  text-decoration: none;
  font-weight: bold;
  font-family: impact, arial;
  color: red;
  background-color: white;}

#top-nav li a:hover {
  color: #c00;
  background-color: white; }

  p {
    font-family: Garamond;
  }

  img.lead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  footer {
    font-size: small;
  }