body {
    background-color: #99D8F0;
    font-family: Arial;
    padding: 10px;
    text-align: justify;
}

.row {
    margin: 0 75px;
}

#title {
    font-size: 5em;
    color: #1fa0d1;
    font-weight: bold;
    text-align: center;
}

#subtitle {
    font-size: 8em;
    color: #1fa0d1;
    font-weight: bold;
    text-align: center;
}

#italic {
    color:#000;
    vertical-align: middle;
    font-size: 0.5em;
    font-family: 'Parisienne', cursive;
}

#intro {
    margin: auto 0;

}


section {
    padding: 10px;
    font-size: .8em;
}

#left-row {
    background-color: #DDD;
    width: 30%;
    border: 1px #000 solid;
    float: left;
    height: 600px;
}

#right-row {
    background-color: #FFF;
    width: 65%;
    border: 1px #000 solid;
    float: left;
    height: 600px;
    padding: 5px;
}

.column{
    border: 1px #000 solid;
    padding: 5px;
    margin: -1px;
}

#clear {
    clear: both;
}

.bold-font{
    background-color: pink;
}

#example{
    margin: 100px;
}